.bg-container {
  min-height: 100vh;
}

.navbar {
  background-color: #e6e9ec;
  padding: 10px 40px 10px 40px;
}

.website-logo {
  width: 150px;
}

.select-input {
  font: 16px 'Roboto';
  width: 40%;
  height: 40px;
  cursor: pointer;
  border: 1px solid #cbd5e1;
  border-radius: 10px;
  outline: none;
  padding: 10px 20px 10px 20px;
}

.projects-container {
  padding: 40px;
}

.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.failure-image {
  width: 50%;
}

.failure-page-heading {
  font: 30px 'Roboto';
}

.failure-page-description {
  font: 20px 'Roboto';
}

.retry-button {
  background-color: #328af2;
  padding: 10px 20px 10px 20px;
  font-family: 'Roboto';
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.loader-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-items-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-inline-start: 0px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.project-image {
  width: 150px;
}

.project-name {
  font-family: 'Roboto';
}
